<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>



 <div class="row">
    <div class="col-25">
      <label>Purpose</label>
    </div>
    <div class="col-75">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Purposes
        </a>
          <div class="dropdown-menu">
          <a  class="dropdown-item" href="/">For Enquiry</a><br>
          <a  class="dropdown-item"href="form">Place Order</a><br>
          <a  class="dropdown-item"href="credentials/login">Return</a>
          </div>
      </div>
    </div>
 </div>